<html> 
	<head> 
	<title>Basic Insert</title>
	<link rel="stylesheet" type="text/css" href="/views/style.css">
	</head> 
	<body> 
		<form method=get action=insertInfo >
			<h1>Please enter details</h1> 
			<p>
				<label>Client Name : </label>
				<input type="text" name="clName" required>
			</p>
			<p>
				<label>Client Surname : </label>
				<input type = "text" name = "clSName" required>
			</p>
			<p>
				<label>Method of Notification : </label>
				<select name = "MoN">
					<option value="Email">Email</option>
				  	<option value="Post">Post</option>
				 	<option value="SMS">SMS</option>
				</select>
			</p>
			<p>
				<label>Cell-Number: </label>
				<input type = "text" name = "cellNum" required>
			</p>
			<p>
				<label>Email: </label>
				<input type="email" name="email" required>
			</p>
			<p>
				<label>Address: </label>
				<input type = "text" name = "address" required>
			</p>
			<p class="wipeout">
	            <input type="submit" value="Insert" />
	        </p>
		</form>
		<table>
			<tr>
				<td><a href="/display">Display All</a></td>
				<td><a href="/update">Update</a></td>
				<td><a href="/search">Search</a></td>
			    <td><a href="/delete">Delete</a></td>
				<td><a href="/reactivate">Re-Activate </a></td>
			</tr>
		</table>
	</body>
</html>